body {
    font-family: 'Roboto Mono',monospace;
    min-height: 854px;
    background-image: url('https://github.com/helderharada/helderharada.github.io/blob/0a230a2c37d3b3163499c04232af814b379d6009/background2.jpg?raw=true');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
 
