body {
    font-family: 'Roboto Mono',monospace;
    min-height: 854px;
    background-image: url('https://github.com/helderharada/helderharada.github.io/blob/fe18bb6d773d5f1e35bc29ddc1a8486cae188b33/background2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
 
